# Lab | Inferential statistics - ANOVA

In [8]:
import pandas as pd
import numpy as np
from math import sqrt
import scipy.stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import ttest_ind
import researchpy as rp
import warnings
warnings.filterwarnings('ignore')

## Part 1 & Part 2

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:

- Null hypothesis 
- Alternate hypothesis 
- Level of significance 
- Test statistic 
- P-value 
- F table

### Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data **anova_lab_data.xlsx** file in the files_for_lab folder

 - State the null hypothesis
 - State the alternate hypothesis
 - What is the significance level
 - What are the degrees of freedom of model, error terms, and total DoF
 
Data was collected randomly and provided to you in the table as shown: https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png



- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [10]:
df=pd.read_excel(r'D:\WB\Ironhack\Lesson7\lab-inferential-statistics-anova\files_for_lab\anova_lab_data.xlsx')

In [11]:
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [12]:
cols=df.columns
df.rename(columns={cols[0]:'power',cols[1]:'etching_rate'},inplace=True)
df

    power  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [13]:
df.groupby(['power']).mean()

       etching_rate
power
160 W         5.792
180 W         6.238
200 W         8.318

In [14]:
df['power'].value_counts()

200 W    5
180 W    5
160 W    5
Name: power, dtype: int64

#### - Table 1

In [15]:
df.pivot(columns='power').describe()

      etching_rate
power        160 W     180 W     200 W
count     5.000000  5.000000  5.000000
mean      5.792000  6.238000  8.318000
std       0.319875  0.434304  0.669604
min       5.430000  5.660000  7.550000
25%       5.590000  5.980000  7.900000
50%       5.710000  6.240000  8.150000
75%       6.010000  6.600000  8.790000
max       6.220000  6.710000  9.200000

 #### -These are the null and alternate hypothesis

 - H0: μ1 = μ2 = μ3
 - H1: Means are not all equal.

In [16]:
model = ols('etching_rate ~ C(power)', data=df).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [18]:
rp.summary_cont(df['etching_rate'])

       Variable     N    Mean      SD      SE  95% Conf.  Interval
0  etching_rate  15.0  6.7827  1.2286  0.3172     6.1023    7.4631

In [20]:
rp.summary_cont(df['etching_rate'].groupby(df['power']))

       N   Mean      SD      SE  95% Conf.  Interval
power
160 W  5  5.792  0.3199  0.1431     5.3948    6.1892
180 W  5  6.238  0.4343  0.1942     5.6987    6.7773
200 W  5  8.318  0.6696  0.2995     7.4866    9.1494

We will consider a *significance level of 0.05*. As we can see, the p-value is smaller than the significance level, thus we can reject the null hypothesis and we can conclued that the means are different. This means, that by changing the power the etching rate gets affected.

As we can see in the **table 1** above, if we compare the means of the closest power values with each other (i.e. 8.31 - 6.23 = 2.08 and 2.08 > 0.669) we can infer that there is a change in the etching rate as a consequence of the variation of the power.

In [21]:
display_a = df[df['power'] == '200 W']['etching_rate']

for display in df['power'].unique():
    display_b = df[df['power'] == display]['etching_rate']
    print(display, ttest_ind(display_a, display_b))

160 W Ttest_indResult(statistic=7.611403634613074, pvalue=6.237977344615716e-05)
180 W Ttest_indResult(statistic=5.827496614588661, pvalue=0.0003926796476049085)
200 W Ttest_indResult(statistic=0.0, pvalue=1.0)

**-The degrees of freedom of the model:**
    
degr_freed_model= (5-1)+(5-1)+(5-1)=12 degrees of freedom of the model
degr_freed_group= 5-1 # degrees of freedom withing each group